#custom-background{
  width: 100px;
height: 35px;
background-color: red;
}

#custom-background2{
  width: 100px;
height: 20px;
background-color: orange;
}

#custom-background3{
  width: 100px;
height: 20px;
background-color: yellow;
}


#custom-background4{
  width: 100px;
height: 20px;
background-color: lightgreen;
}

#custom-background5{
  width: 100px;
height: 35px;
background-color: lightblue;
}

#custom-background6{
  width: 100px;
height: 90px;
background-color: violet;
}

#custom-background7{
  width: 100px;
height: 35px;
background-color: red;
}

#custom-background8{
  width: 100px;
height: 20px;
background-color: orange;
}

#custom-background9{
  width: 100px;
height: 35px;
background-color: yellow;
}

#custom-background10{
  width: 100px;
height: 90px;
background-color: lightgreen;
}

#custom-background11{
  width: 100px;
height: 50px;
background-color: lightblue;
}


#custom-background12{
  width: 100px;
height: 50px;
background-color: violet;
}


#custom-background13{
  width: 100px;
height: 35px;
background-color: red;
}


#custom-background14{
  width: 100px;
height: 20px;
background-color: orange;
}


#custom-background15{
  width: 100px;
height: 35px;
background-color: yellow;
}


#custom-background16{
  width: 100px;
height: 50px;
background-color: lightgreen;
}




