h1 {
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 15px;
}


h8 {
  letter-spacing: -2px;
}

h9 {
  letter-spacing: -1px;
}

h10 {
  letter-spacing: 0px;
}

h11 {
  letter-spacing: 1px;
}


h12 {
  letter-spacing: 2px;
}


h13 {
  letter-spacing: 3px;
}

